@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	min-width: 300px;
	background: rgb(1, 1, 54);
	background-attachment: fixed;
}

/* MENU DE NAVIGATION */
header {
	height: 110px;
}

.navbar {
	position: fixed;
	background: rgba(138, 138, 138, 0.404);
	height: 110px;
	width: 100%;
	backdrop-filter: blur(8px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.596);
	box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.507);
	z-index: 2;
}

/* LAURINE A GAUCHE   */
nav p:first-child {
	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 2em;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: white;
	letter-spacing: 5px;
}

/* DISPOSITION DU MENU   */
nav > ul li {
	display: inline-block;
}

nav ul {
	position: relative;
	float: right;
	top: 30px;
	right: 30px;
	z-index: 2;
}

nav ul > li {
	margin-left: 38px;
}

/* DESIGN DES A*/
nav ul > li a {
	text-decoration: none;
	color: white;
	font-size: 2em;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	cursor: pointer;
}

nav > ul li > a:hover {
	color: rgb(180, 180, 180);
	transition: 1s;
}

.burger {
	display: none;
}

/* MEDIA QUERIES POUR FAIRE LE MENU BURGER */
@media screen and (max-width: 1280px) {

	/* PLACEMENTS NAVIGATION*/
	nav ul {
		top: 110px;
	}

	.navbar__links {
		flex-direction: column;
		width: 0;
		height: 100vh;
		position: absolute;
		right: 0;
		background: rgb(4, 1, 36);
		transition: all 0.5s ease-in-out;
	}

	.show-nav .navbar__links {
		width: 100%;
	}

	/* LANGUES    */
	.navbar details {
		position: absolute;
		right: 18%;
		top: -10%;
	}

	/* LES a DU MENU NAVIGATION */
	.navbar__link > a {
		display: block;
		padding: 1rem;
		font-size: 2rem;
		transition: all 0.4s ease-in-out;
	}

	.navbar__link > a:first-child {
		margin-top: 10px;
	}

	.navbar__link > a:hover {
		padding-left: 2rem;
		letter-spacing: 5px;
	}

	/* BOUTON BURGER */
	.burger {
		display: block;
		float: right;
		top: 3vh;
		right: 3%;
		position: absolute;
		padding: 0;
		width: 45px;
		height: 45px;
		border: none;
		background: transparent;
		cursor: pointer;
	}

	.bar {
		display: block;
		width: 45px;
		height: 4px;
		background-color: white;
		border-radius: 3px;
		transition: all 0.5s ease-in-out;
	}

	.show-nav .bar {
		width: 0;
		background: transparent;
	}

	.bar::before,
	.bar::after {
		content: "";
		width: 45px;
		height: 4px;
		position: absolute;
		left: 0;
		background-color: white;
		border-radius: 3px;
		transition: all 0.5s ease-in-out;
	}

	.bar::before {
		transform: translateY(-12px);
	}

	.bar::after {
		transform: translateY(12px);
	}

	.show-nav .bar::before {
		transform: rotate(45deg);
	}

	.show-nav .bar::after {
		transform: rotate(-45deg);
	}
}

/* SECTION 1 */
.section1 {
	display: flex;
	gap: 3rem;
	padding: 5rem;
	align-items: center;
	height: calc(100% - 110px);
	color: white;
}

.section1 article:first-of-type, .section1 article:last-of-type {
	flex-basis: 100%;
}

/* P= "BONJOUR"*/
section > article p {
	font-size: 1.5em;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 4px;
	margin-left: 12px;
	margin-bottom: 12px;
}

/* h1 = "JE SUIS LAURINE" */
section > article h1 {
	letter-spacing: 5px;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: lighter;
	font-size: 3.3em;
}

/* h3="ETUDIANTE 0 LA LP IMAPP"*/
section > article h3 {
	font-family: 'Rubik', sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 1.6em;
}

/* BOUTON DE TELECHARGEMENT CV*/
section article button {
	width: 130px;
	height: 60px;
	margin-top: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right: 1px solid rgba(216, 216, 216, 0.76);
	border-bottom: 2px solid rgba(211, 211, 211, 0.89);
	border-radius: 10px;
	background: linear-gradient(170deg, #daab14, #9b6c06);
	cursor: pointer;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.877);
}

section article button > p {
	font-size: 1.2em;
	letter-spacing: 1px;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0;
}

/* ANIMATION DU BOUTON DE TELECHARGEMENT */
section article button:hover {
	background: #daac14e3;
}

section article button:active {
	border-bottom: transparent;
	margin-top: 3px;
}

/* ILLUSTRATION */
.illustrator {
	width: 100%;
	min-height: 55%;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0%,
	100% {
		transform: translateY(10px);
	}

	50% {
		transform: translateY(60px);
	}
}

/* SECTION 2 */
.section2 {
	margin-top: 4rem;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 3rem;
	padding-bottom: 0.5rem;
	min-height: 250px;
	background: rgba(107, 107, 107, 0.212);
	border: 1px solid rgba(107, 107, 107, 0.212);
	border-radius: 10px;
	backdrop-filter: blur(5px);
	box-shadow: 15px 10px 15px rgba(122, 122, 122, 0.295);
}

/* TITRE DE DESCRIPTION*/
section h4 {
	font-size: 2em;
	font-family: 'Nothing You Could Do', cursive;
	color: white;
	margin-top: 3%;
	margin-bottom: 2%;
	letter-spacing: 2px;
}

/* DESCRIPTION */
.section2 h4 + p {
	margin-right: 6%;
	font-size: 1.1em;
	font-family: 'Poppins', sans-serif;
	font-weight: lighter;
	letter-spacing: 1.8px;
	text-align: justify;
	color: white;
	line-height: 1.3em;
}

/* IMAGE PROFIL*/
.section2 img {
	width: 155px;
	height: 190px;
	float: left;
	margin-top: 3%;
	margin-left: 2%;
	margin-bottom: 1%;
	margin-right: 5%;
}

.border {
	position: absolute;
	border: 3px solid white;
	margin-top: 4%;
	margin-left: 4%;
	width: 150px;
	height: 190px;
	z-index: -2;
}

/* BOUTON RESEAUX SOCIAUX */
.btn {
	display: inline-block;
	width: 70px;
	height: 70px;
	background: linear-gradient(170deg, #daab14, #9b6c06);
	margin: 10px;
	border-radius: 30%;
	color: #fefeff;
	overflow: hidden;
	position: relative;
}

.btn:active {
	top: 0.5vh;
}

.btn i {
	margin-left: 22px;
	line-height: 68px;
	font-size: 33px;
	transition: 0.2s linear;
}

.btn:hover i {
	transform: scale(1.3);
	color: #f1f1f1;
}

.btn::before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: linear-gradient(170deg, #4584b8, #1d5583);
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.btn:hover::before {
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa {
	0% {
		left: -110%;
		top: 90%;
	}

	50% {
		left: 10%;
		top: -30%;
	}

	100% {
		top: -10%;
		left: -10%;
	}
}

/* BOUTON POUR REMONTER EN HAUT DE LA PAGE */
.remonter {
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: #daac14e3;
	border-radius: 25px;
	bottom: 30px;
	right: 30px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 25px;
}

.remonter:active {
	margin-bottom: -3px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
	.section1 {
		padding: 3rem;
		flex-direction: column;
	}
}