@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/* BOUTON POUR REMONTER EN HAUT */
html{
  scroll-behavior: smooth;
}

/* MENU */
header{
  background:rgb(1, 1, 42);
 height:450px; width: 100%;

 }

/* p="LAURINE" */
 nav p:first-child{position:absolute;
  top: 30px;
  left: 30px;
  font-size:2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color:white;
  letter-spacing: 5px;

}

/* DISPOSITION DU MENU*/
nav > ul li {
display: inline-block;

}

nav ul{position:relative;
float: right;
top:30px;
right:30px;
z-index: 2;
}

nav ul > li {margin-left:38px;}

/* DESIGN DES A*/
nav ul > li a{
  text-decoration: none;
  color: white;
  font-size:2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  cursor: pointer;
  }

nav > ul  li >a:hover{
                      color:rgb(180, 180, 180);
                      transition:1s;
                    }


/* LANGUES */
.navbar summary{float: right;
  position: relative;
  top:35px;
  right:20px;
  color: #e6b209;
  background: rgb(180, 180, 180);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:1.3em;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  z-index: 2;
  }

.navbar summary + ul li{
                        position: relative;
                        list-style-type: none;
                        top:30px;
                        left:95px;
                        font-family:sans-serif;

                        }

.navbar summary + ul li a{ font-size: 1em;
                            cursor: pointer
                          }

.burger{
        display:none;
      }

/* MEDIA QUERIES POUR FAIRE LE MENU BURGER */
@media screen and (max-width:1000px){

  /* PLACEMENTS NAVIGATION ET LANGUES */

    .navbar__links{
      top:14vh;
    }

    .navbar__links{
      overflow: hidden;
      flex-direction:column;
      width:0;
      height:169vh;
      position:absolute;
      right:0;
      background: rgb(4, 1, 36);
      transition:all 0.5s ease-in-out;
    }
    .show-nav .navbar__links {
       width:100%;
    }


  /* LANGUES    */
  .navbar details{
    position: absolute;
    right:18%;
  }


  /* LES a DU MENU NAVIGATION */
    .navbar__link > a {
      display:block;
      padding:1rem;
      font-size:2rem;
      transition:all 0.4s ease-in-out;
    }

    .navbar__link > a:first-child{
      margin-top:10px;

    }

    .navbar__link > a:hover{
      padding-left:2rem;
      letter-spacing:5px;
    }

  /* BOUTON BURGER    */
    .burger{
      display:block;
      float:right;
      top: 3vh;
      right:3%;
      position:absolute;
      padding:0;
      width:45px;
      height:45px;
      border:none;
      background:transparent;
      cursor:pointer;
    }
    .bar{
      display:block;
      width:45px;
      height:4px;
      background-color:white;
      border-radius:3px;
      transition:all 0.5s ease-in-out;
    }

    .show-nav .bar{
      width:0;
      background:transparent;
    }

    .bar::before, .bar::after {
      content:"";
      width:45px;
      height:4px;
      position: absolute;
      left:0;
      background-color:white;
      border-radius:3px;
      transition:all 0.5s ease-in-out;
    }
    .bar::before{
      transform:translateY(-12px);
    }
    .bar::after{
       transform:translateY(12px);

    }

    .show-nav .bar::before{
      transform:rotate(45deg);
    }
    .show-nav .bar::after{
      transform:rotate(-45deg);
    }

  }


  /* TITRE DANS HEADER */
   header h1{
          position:absolute;
          color: white;
          font-family: 'Rubik', sans-serif;
          letter-spacing: 2px;
          top:250px;
          left: 3%;
          font-size:3.2em;
          letter-spacing: 0.2em;
          width: 90%;
          }

  header h2{position:absolute;
          font-family: 'Nothing You Could Do', cursive;
          top:320px;
          left: 3%;
          letter-spacing:2.5px;
          font-size: 1.7em;
          color: white;
          font-weight:lighter;
          width: 90%;
        }

/* TITRE DES SECTIONS */
article > h2{
              font-family: "futura_m", sans-serif;
              color: #072142;
              font-weight:normal;
              margin-left: 90px;
              font-size: 3vmax;
              margin-bottom: 70px;
              letter-spacing: 4px;
            }

/* TRAIT A COTE DES TITRES  */
 .drop {
        position: absolute;
        margin-top: 1.5%;
        margin-left: -5px;
        background-color:#072142;
        border: 1.5px solid #072142;
        border-radius:5px;
        width: 70px;
      }

/* CHIFFRE DANS LE TITRE */
h2 > span {color:rgb(194, 4, 4);
          font-family: 'Poppins', sans-serif;
          font-weight:lighter;
           margin-right: 20px;}

/* SECTION */
section:nth-child(2){
                      position: relative;
                      top:20vh;
                    }

section:nth-child(3){
                      position: relative;
                      top:40vh;
                    }

section:nth-child(4){
                      position: relative;
                      top:60vh;
                    }

 /* SECTION ILLUSTRATOR IMAGES*/
.illustrator{
              margin-left:5%;
              width:18%;
              height:18%;
              transition: all 500ms;}


/* IMAGES ILLUSTRATOR */
img:first-of-type{ margin-left:11%;}

img:first-of-type:hover , img:last-of-type:hover{
                  width:22%;
                  height:22%;
                  }


/* SECTION PHOTOSHOP AVEC LE REMPLACEMENT D'IMAGE  */
h2 ~ p {
        color:#072142;
        margin-top: 20px;
        margin-bottom:55px;
        text-align: center;
        font-size:1.8em;
        letter-spacing: 1px;
        font-weight: normal;
        font-family: 'Poppins', sans-serif;
}

/* IMAGE 1 PHOTOSHOP */
.pieton{
        width:390px;
        height:490px;
        margin-bottom:40px;}

.pieton:nth-of-type(2)
{
  background-size: 390px 490px;
  background-image: url("../adobe/photoshop/photo_truque.jpg");
  background-position: center;
}

.pieton:nth-of-type(2):hover
{
  background-image: url("../adobe/photoshop/photo_truque_original.jpg");
}

/* IMAGE 2 PHOTOSHOP */
.reine{ width:390px;
  height:490px;
  margin-bottom:40px;}

.reine:nth-of-type(3)
{
  background-size: 390px 490px;
  background-image: url("../adobe/photoshop/reine.jpg");
  background-position: center;
}

.reine:nth-of-type(3):hover
                          {
                            background-image: url("../adobe/photoshop/reine_original.jpg");
                          }

/* IMAGE 3 PHOTOSHOP */
.composition{
          width:390px;
          height:490px;
        }

.composition:nth-of-type(4)
                      {
                        background-size: 390px 490px;
                        background-image: url("../adobe/photoshop/image_surrealiste.jpg");
                        background-position: center;
                      }

.composition_2{
  width:434px;
  height:350px;
}

.composition_2:nth-of-type(5) {
                              background-size: 490px 360px;
                              background-image: url("../adobe/photoshop/arbre_oiseau.jpg");
                              background-position: center;
                            }

/* TOUTES LES IMAGES DE PHOTOSHOP */
.pieton, .reine, .composition, .composition_2{
                          margin-left:10%;
                          display:inline-block;
                          }

/* FOOTER */
footer{
        position:relative;
        top: 70vh;
      }

      .middle {
        position: absolute;
        transform: translateY(-50%);
        left:3px;
      }

      .btn {
      display: inline-block;
      width: 70px;
      height:  70px;
      background: linear-gradient(170deg, #daab14, #9b6c06);
      margin: 10px;
      border-radius: 30%;
      color: #fefeff;
      overflow:hidden;
      position: relative;

      }

      .btn:active{
        top: 0.5vh;
      }

      .btn i {
      margin-left:22px;
      line-height: 68px;
      font-size:33px;
      transition: 0.2s linear;
      }

      .btn:hover i {
            transform: scale(1.3);
            color:#f1f1f1;
      }

      .btn::before{
          content:"";
          position:absolute;
          width:120% ;
          height:120%;
          background: linear-gradient(170deg, #4584b8, #1d5583);
          transform: rotate(45deg);
          left:-110%;
          top: 90%;
      }

      .btn:hover::before{
                animation: aaa 0.7s 1;
                top:-10%;
                left:-10%;
      }

      .remonter {
        position: fixed;
        width:50px;
        height: 50px;
        background-color:#daac14e3;
        border-radius: 25px;
        bottom: 30px;
        right:30px;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        color:white;
        font-size:25px;
      }

      .remonter:active{
           margin-bottom: -3px;
      }

      @keyframes aaa {
        0%{
          left:-110%;
          top:90%;
        }
        50%{
          left:10%;
          top:-30%;
        }
        100%{
            top:-10%;
            left:-10%;
        }
      }
