@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

html {
	scroll-behavior: smooth;
}

.navbar__links {
	list-style: none;
}

.main-content {
	padding: 1rem;
}

/* Navbar */
header {
	position: sticky;
	top: 0;
	height: 4rem;
	z-index: 10;
	width: 100%;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0 20px 0;
	font-size: 1.3rem;
	color: black;
	backdrop-filter: blur(12px);
	font-family: "Poppins", sans-serif;
}

.navbar__logo {
	font-size: 1.6rem;
	margin-left: 3rem;
}

.navbar__links {
	display: flex;
	margin-right: 3rem;
	align-items: center;
}

.navbar__link {
	padding: 0 10px;
}

.navbar__link > a {
	color: black;
	text-decoration: none;
}

.burger {
	display: none;
}

.linkedin {
	font-size: 1.5rem;
}

/* Small device */
@media screen and (max-width: 768px) {
	/* Header */
	.navbar__links {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		width: 0;
		height: 100vh;
		position: absolute;
		top: 5rem;
		background: rgb(95, 98, 197);
		transition: all .5s ease-in-out;
		z-index: 10;
	}

	header {
		height: 5rem;
	}

	section.content {
		/* 5rem pour l'en-tête et 3rem pour la marge du contenu pour le responsive mobile */
		height: calc(100vh - 5rem - 3rem);
	}

	section.content article {
		gap: 0;
		margin-top: 3rem;
	}

	.show-nav .navbar__links {
		width: 100%;
	}

	.navbar__link {
		color: white;
	}

	.navbar__link > a {
		display: block;
		padding: 1rem;
		font-size: 1.6rem;
		color: var(--navbar-color);
		transition: all .4s ease-in-out;
	}

	.navbar__link > a:hover {
		padding-left: 2rem;
		letter-spacing: 5px;
	}

	/* Images */
	div.images {
		width: 100%;
		height: calc(50% - 3rem - 5rem); /* 50% de la hauteur de la section - 3rem de padding - 4rem de la taille de l'en-tête - 3rem de la marge du contenu */
	}

	div.images .fille {
		width: 50%;
	}

	/* Toggle menu */
	.burger {
		margin-right: 3rem;
		display: block;
		position: relative;
		padding: 0;
		width: 45px;
		height: 45px;
		border: none;
		background: transparent;
		cursor: pointer;
	}

	.bar {
		display: block;
		width: 45px;
		height: 4px;
		border-radius: 3px;
		background: black;
		transition: all .5s ease-in-out;
	}

	.bar::before,
	.bar::after {
		content: "";
		width: 45px;
		height: 4px;
		position: absolute;
		left: 0;
		background: black;
		border-radius: 3px;
		transition: all .5s ease-in-out;
	}

	.bar::before {
		transform: translateY(-12px)
	}

	.bar::after {
		transform: translateY(12px)
	}

	.show-nav .bar {
		width: 0;
		background: transparent;
	}

	.show-nav .bar::before {
		transform: rotate(45deg);
	}

	.show-nav .bar::after {
		transform: rotate(-45deg);
	}

	/* Bonus - Animations */
	.show-nav .first {
		transition: all 1s ease-out;
	}

	.show-nav .second {
		transition: all 1.1s ease-out;
	}

	.show-nav .third {
		transition: all 1.2s ease-out;
	}

	.show-nav .four {
		transition: all 1.3s ease-out;
	}

	.show-nav .fifth {
		transition: all 1.4s ease-out;
	}
}

/*  Medium device - Bonus */
@media screen and (min-width:768px) {
	.navbar__link > a::after {
		display: block;
		content: "";
		width: 0;
		height: 1px;
		background: black;
		transition: width .4s;
	}

	.navbar__link:hover > a::after {
		width: 100%;
	}
}

/* bonus */
.main-content, #section2 {
	height: 100vh;
}

.content {
	height: calc(100vh - 4rem);
}

.content article {
	gap: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
	flex-wrap: wrap;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.moi h1 {
	font-size: 50px;
	color: #212121;
	font-family: "poppins";
	font-weight: bold;
	margin-bottom: 20px;
}

span {
	color: orange;
	font-family: "nothing you could do";
}

.moi {
	flex: 1 0;
}

.images {
	padding: 3rem;
	height: calc(100% - 3rem - 4rem); /* 100% de la hauteur de la section - 3rem de padding - 4rem de la taille de l'en-tête */
	width: calc(50% - 6rem); /* 50% de la largeur de la page - 6rem de padding */
	position: relative;
}

.moi p {
	color: #555;
	line-height: 22px;
	font-family: "poppins";
}

.moi a {
	background: #efb000;
	padding: 10px 18px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	font-family: "poppins";
	display: inline-block;
	margin: 30px 0;
	border-radius: 5px;
}

.moi a:hover {
	background: #efaf00cd;
}

.images img {
	position: absolute;
	transform: translate(-50%, -50%);
	transition: top 1s, left 1s;
}

.images .blob {
	top: 45%;
	left: 50%;
	width: 90%;
	position: absolute;
	max-height: 590px;
	max-width: 600px;
}

.images .fille {
	top: 55%;
	left: 50%;
	max-height: 450px;
	max-width: 350px;
}

.images:hover .blob {
	top: 40%;
}

.images:hover .fille {
	left: 45%;
}

.about {
	padding: 100px 0;
	background-color: #f6bf27;
}

.about img {
	width: 100%;
	max-width: 400px;
}

.about-text {
	width: 550px;
}

.main {
	margin: 2rem;
	gap: 2rem;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.about-text h2 {
	color: #fff;
	font-size: 4em;
	font-family: "poppins";
	font-weight: bolder;
	margin-bottom: 20px;
}

.about-text h5 {
	color: #fff;
	letter-spacing: 2px;
	font-size: 22px;
	font-family: "nothing you could do";
	font-weight: bolder;
	margin-bottom: 40px;
	text-transform: capitalize;
}

.about-text span {
	color: rgb(45, 50, 186);
}

.about-text p {
	color: #fff;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 15px;
	font-family: "poppins";
	text-align: justify;
	margin-bottom: 45px;
}

.box {
	padding: 70px 0;
}

.box h1 {
	font-size: 3em;
	font-family: "poppins";
	font-weight: bold;
	margin: 30px 1rem;
	text-align: center;
	margin-bottom: 2em;
}

.box h2 {
	font-size: 2em;
	font-family: "nothing you could do";
	font-weight: bold;
	margin: 40px auto;
	text-align: center;
}

.box1 {
	flex-wrap: wrap;
	gap: 3rem;
	margin: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box1 img {
	width: 100%;
}

.box1 > div {
	gap: 1rem;
}

.text-container {
    text-align: center;
  background-color: rgb(95, 98, 197);
  color: white;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} 

.manga p {
	font-family: "Poppins";
	font-size: 15px;
	line-height: 28px;
	text-align: justify;
  	margin-bottom: 30px;
}

.siteweb {
    text-decoration: none;
    font-weight: bold;
	margin-bottom: 20px;
    color: #fff;
    font-family: "poppins";
    display: inline-block;
}

.box2 {
	gap: 2rem;
	margin: 2rem;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box2 img {
	width: 100%;
	height: 100%;
	max-height: 500px;
}

.polaroid {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 35px;
	padding: 20px;
}

div .container {
	text-align: center;
	padding: 20px 20px;
}

div .container2 {
	text-align: center;
	padding: 20px 20px;
}

div .container p {
	font-size: 1.2em;
}

div .container2 p {
	font-size: 1.2em;
}

.competences {
	margin-bottom: 70px;
}

.competences h1 {
	font-size: 3em;
	font-family: "poppins";
	font-weight: bold;
	margin: 30px 1rem;
	hyphens: auto;
	text-align: center;
	margin-bottom: 2em;
}

.competences div {
	text-align: center;
}

.competences img {
	width: 70px;
	margin-bottom: 1rem;
	margin-left: 30px;
}
