@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url ('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
	scroll-behavior: smooth;
}

.navbar__links {
	list-style: none;
}

.main-content {
	padding: 1rem;
}c

/* Navbar */
header {
	top: 0;
	height: 4rem;
	width: 100%;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0 20px 0;
	font-size: 1.3rem;
	color: black;
	background-color: white;
	font-family: "roboto condensed";
	position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar__logo {
	font-size: 1.6rem;
	margin-left: 3rem;
	font-family: "roboto condensed";
}

.navbar__links {
	display: flex;
	margin-right: 3rem;
	align-items: center;
}

.navbar__link {
	padding: 0 10px;
}

.navbar__link > a {
	color: black;
	text-decoration: none;
}

.burger {
	display: none;
}

.linkedin {
	font-size: 1.5rem;
}

/* Small device */
@media screen and (max-width: 768px) {
	/* Header */
	.navbar__links {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		width: 0;
		height: 100vh;
		position: absolute;
		top: 5rem;
		background: rgb(95, 98, 197);
		transition: all .5s ease-in-out;
		z-index: 10;
	}

	header {
		height: 5rem;
	}

	section.content {
		/* 5rem pour l'en-tête et 3rem pour la marge du contenu pour le responsive mobile */
		height: calc(100vh - 5rem - 3rem);
	}

	section.content article {
		gap: 0;
		margin-top: 3rem;
	}

	.show-nav .navbar__links {
		width: 100%;
	}

	.navbar__link {
		color: white;
	}

	.navbar__link > a {
		display: block;
		padding: 1rem;
		font-size: 1.6rem;
		color: var(--navbar-color);
		transition: all .4s ease-in-out;
	}

	.navbar__link > a:hover {
		padding-left: 2rem;
		letter-spacing: 5px;
	}

	/* Images */
	div.images {
		width: 100%;
		height: calc(50% - 3rem - 5rem); /* 50% de la hauteur de la section - 3rem de padding - 4rem de la taille de l'en-tête - 3rem de la marge du contenu */
		z-index: -1;
	}

	div.images .fille {
		width: 50%;
	}

	/* Toggle menu */
	.burger {
		margin-right: 3rem;
		display: block;
		position: relative;
		padding: 0;
		width: 45px;
		height: 45px;
		border: none;
		background: transparent;
		cursor: pointer;
	}

	.bar {
		display: block;
		width: 45px;
		height: 4px;
		border-radius: 3px;
		background: black;
		transition: all .5s ease-in-out;
	}

	.bar::before,
	.bar::after {
		content: "";
		width: 45px;
		height: 4px;
		position: absolute;
		left: 0;
		background: black;
		border-radius: 3px;
		transition: all .5s ease-in-out;
	}

	.bar::before {
		transform: translateY(-12px)
	}

	.bar::after {
		transform: translateY(12px)
	}

	.show-nav .bar {
		width: 0;
		background: transparent;
	}

	.show-nav .bar::before {
		transform: rotate(45deg);
	}

	.show-nav .bar::after {
		transform: rotate(-45deg);
	}

	/* Bonus - Animations */
	.show-nav .first {
		transition: all 1s ease-out;
	}

	.show-nav .second {
		transition: all 1.1s ease-out;
	}

	.show-nav .third {
		transition: all 1.2s ease-out;
	}

	.show-nav .four {
		transition: all 1.3s ease-out;
	}

	.show-nav .fifth {
		transition: all 1.4s ease-out;
	}
}

/*  Medium device - Bonus */
@media screen and (min-width:768px) {
	.navbar__link > a::after {
		display: block;
		content: "";
		width: 0;
		height: 3px;
		background: #5F62C5;
		transition: width .4s;
	}

	.navbar__link:hover > a::after {
		width: 100%;
	}
}

/* bonus */
.main-content, #section2 {
	height: 100vh;
}

.content {
	height: calc(100vh - 4rem);
}

.content article {
	gap: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
	flex-wrap: wrap;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.moi h1 {
	font-size: 50px;
	color: #212121;
	font-family: "roboto condensed";
	font-weight: bold;
	margin-bottom: 1rem;
}

span {
	color: orange;
	font-family: "nothing you could do";
}

.moi {
	flex: 1 0;
}

.images {
	padding: 3rem;
	height: calc(100% - 3rem - 4rem); /* 100% de la hauteur de la section - 3rem de padding - 4rem de la taille de l'en-tête */
	width: calc(50% - 6rem); /* 50% de la largeur de la page - 6rem de padding */
	position: relative;
}

.moi p {
	color: #555;
	font-family: "roboto condensed";
	font-size: 16px;
}

.moi a {
	background: #efb000;
	padding: 10px 18px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	font-family: "roboto condensed";
	display: inline-block;
	margin: 30px 0;
	border-radius: 5px;
}

.moi a:hover {
	background: #efaf00cd;
}

.images img {
	position: absolute;
	transform: translate(-50%, -50%);
	transition: top 1s, left 1s;
}

.images .blob {
	top: 48%;
	left: 50%;
	width: 91%;
	position: absolute;
	max-height: 590px;
	max-width: 600px;
}

.images .fille {
	top: 55%;
	left: 50%;
	max-height: 450px;
	max-width: 350px;
}

.images:hover .blob {
	top: 40%;
}

.images:hover .fille {
	left: 45%;
}

.about {
	padding: 100px 0;
	background-color: #f6bf27;
}

.about img {
	width: 100%;
	max-width: 400px;
}

.about-text {
	width: 550px;
}

.main {
	margin: 2rem;
	gap: 2rem;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.about-text h1 {
	color: #fff;
	font-size: 3em;
	font-family: "Mulish";
	font-weight: bolder;
	margin-bottom: 1rem;
}

.about-text h5 {
	color: #fff;
	letter-spacing: 2px;
	font-size: 22px;
	font-family: "nothing you could do";
	font-weight: bolder;
	margin-bottom: 1.5rem;
	text-transform: capitalize;
}

.about-text span {
	color: #4B4FBE;
}

.about-text p {
	color: #fff;
    line-height: 1.5rem;
    font-size: 16px;
    font-family: "Mulish";
    margin-bottom: 1.5rem;
}

.comp {
	font-size: 2em;
    font-family: "nothing you could do";
	color: #fff;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 800px;
  margin-top: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 14%; /* Cinq images à la fois */
  margin-right: 2%; /* Ajouter de l'espace entre les images */
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Ajouter des coins arrondis aux images */
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 24px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8); /* Blanc légèrement transparent */
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Blanc légèrement transparent au survol */
}


.box {
	padding: 70px 0;
}

.box h1 {
	font-size: 3em;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    text-align: center;
	margin-bottom: 1rem;
}

.box h2 {
	font-size: 2em;
    font-family: "nothing you could do";
    text-align: center;
}

.box1 {
	width: 100%;
	margin-top: 2rem;
}

.manga {
	width: 80%;
	margin: 0 auto;
}

.text-container {
    text-align: center;
    background-color: #878AD4;
    color: white;
    padding: 20px; /* le container du texte explicatif */
    margin-bottom: 2rem;
} 

.manga h3 {
	margin-bottom: 1.25rem;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 20px;
}
.manga p {
	font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.mission {
	list-style: none;
    font-family: 'Roboto Condensed';
    font-weight: 300;
	margin-bottom: 1rem;
}

.sousmission {
	font-weight: 400;
	margin-bottom: 4px;
}

.missionun {
	margin-top: 0.5rem;
}

.siteweb {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-family: "roboto condensed";
    display: inline-block;  /* Bouton voir plus dans la section association */
}

.box2 {
	gap: 2rem;
	margin: 2rem;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box2 img {
	width: 100%;
	height: 100%;
	max-height: 400px;
}

.polaroid {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 35px;
	padding: 20px;
}

div .container {
	text-align: center;
	padding: 20px 20px;
}

div .container2 {
	text-align: center;
	padding: 20px 20px;
}

div .container p {
	font-size: 1.2em;
}

div .container2 p {
	font-size: 1.2em;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #5F62C5;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#scrollToTopBtn:hover {
    background-color: #4B4FBE;
}


